<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.needlework">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ProfileForUnregisteredUser"
            android:exported="false" />
        <activity
            android:name=".Discussions.AddDiscussions"
            android:exported="false" />
        <activity
            android:name=".Discussions.ChooseDiscussions"
            android:exported="false"></activity>
        <activity
            android:name=".Profile.UserDiscussions"
            android:exported="false" />
        <activity
            android:name=".Profile.UserBookMark"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lessons"
            android:exported="false" />
        <activity
            android:name=".Patterns.ChoosePattern"
            android:exported="false" />
        <activity
            android:name=".Authorization"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
    </application>

</manifest>